python-dotenv
openpyxl
loguru
datasets==3.6.0
boto3
s3fs
pydub  #audio
soundfile
librosa
bs4
langdetect
spleeter
noisereduce
torch
torchaudio
torchcodec
# git+https://github.com/sawadogosalif/resemble-enhance.git
